In [1]:
import pandas as pd
import camelot 
import pickle

In [ ]:
# NOTE: you may get an error "FileNotFoundError: "Could not find module 'C:\Users\jeffb\anaconda3\envs\curr0702\library\bin\gsdll64.dll' (or one of its dependencies)"
# from the camelot.read_pdf statement below
# it appears this is a problem with the installation of camelot
# I received this error inconsistently. It may be limited to camelot installations done through Anaconda in a Windows environment
# see the issues list in the camelot github repo for potential guidance: https://github.com/camelot-dev/camelot/issues

# Get all the tables within the file
all_tables = camelot.read_pdf('path to your pdf file', pages = 'all')

# Show the total number of tables in the file
print("Total number of tables: {}".format(all_tables.n))

In [ ]:
# create empty dataframe to append all records to
all_recs = pd.DataFrame()

# create list to hold all of the separate dfs created from
# the multiple individual tables discovered by the read_pdf function
all_dfs = []

# print the first records of all the tables in the file and
# append the dataframe for each table to the list
for t in range(all_tables.n):
    print("Table n°{}".format(t))
    print((all_tables[t].df).head())
    all_dfs.append(all_tables[t].df)
    
# append all of the dfs in the list to the overall dataframe
all_recs = all_recs.append(all_dfs)

In [4]:
all_recs

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Commercial data5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Identifiers1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sensitive Personal Data6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Personal data described in subdivision (e) of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Inferences9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,MT - Miller Lite Switchers,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,MT - Online Pharmacy Shoppers,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,MT - Online Travel Agency Airfare Purchasers,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,MT - Pasta Brand Switchers,52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,MT - Pro Wrestling Wwe Enthusiasts,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
all_recs.to_pickle('path to save the dataframe in a pickle format')